* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


#header, 
body {
    background-color: #101820FF;
}

body {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    background-color: black;
    border-radius: 15px;
}

#container-border {
    border: 8px solid #F2AA4CFF;
    border-radius: 15px;
}

.grid-item {
    background-color: black;
    border-radius: 5px;
    flex-shrink: 0;
}

.grid-item-painted {
    background-color: antiquewhite;
    flex-shrink: 0;
}

#header {
    display: flex;
    width: 1200px;
    height: 70px;
    align-items: center;
    justify-content: center;
}

#header-text {
    color: antiquewhite;
}

button {
    text-align: center;
    padding: 5px;
    font-size: 15px;
    background-color: lightblue;
}